<!DOCTYPE html>
<html>
<head>
  <title>Candidate Form</title>
</head>
<body>
  <h1>Candidate Registration Form</h1>
  <form action="/submit" method="POST">
    <label>Name:</label><br />
    <input type="text" name="name" required><br />

    <label>Mobile:</label><br />
    <input type="text" name="mobile" required><br />

    <label>Email:</label><br />
    <input type="email" name="email" required><br />

    <label>Current Job:</label><br />
    <input type="text" name="currentJob" required><br /><br />

    <button type="submit">Submit</button>
  </form>
</body>
</html>
